@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body
{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-image:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(lrc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.login{
    width:280px;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:whitesmoke;
}
.login h1
{
    float:left;
    font-size: 35px;
    border-bottom: 4px solid #00BFFF;
    margin-bottom: 50px;
    padding: 7px 0;
}
.textbox{
    width:100%;
    overflow:hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #00BFFF;
}
.textbox i
{
    width:26px;
    float:left;
    text-align: center;
}
.textbox input
{
    border:none;
    outline: none;
    background: none;
    color:white;
    font-size:18px;
    width:80%;
    float:left;
    margin:0 10px;
}
.btn
{
    width:100%;
    background: none;
    border: 2px solid #00BFFF;
    color:white;
    padding:5px;
    border-radius: 5px;
    margin-top:5px;
    font-size: 18px;
    cursor:pointer;
    margin:12px 0;
    outline: none;
}
.login a
{
    text-decoration: none;
    font-size:15px;
    line-height: 22px;
    color:#00BFFF;
}
